.sidebar{
    width: 250px;
    background-color: #34495e;
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    display: block;
    unicode-bidi: isolate;
    line-height: 1.6;

}
.logo{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu{
    list-style-type: none;
    padding: 0;
}
.menuItem {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menuItem:hover {
    background-color: var(--primary-color);
}

.menuItemActive {
    background-color: var(--primary-color);
}